<!DOCTYPE html>
<html lang="en">

<head>

    <script>
        function CopyTextToClipboard(id, id1, contentToReplace, contentToRestore) {
            document.getElementById(id).innerHTML = contentToReplace;
            var copySource = document.getElementById(id);
            document.getElementById(id1).setAttribute('aria-label', 'Copied!');
            window.getSelection().selectAllChildren(copySource);
            document.execCommand("Copy");
            //alert("You Get The Token!");
            window.getSelection().removeAllRanges();
            document.getElementById(id).innerHTML = contentToRestore;
        }

        function ClearBubbleText(id) {
            document.getElementById(id).setAttribute('aria-label', 'Get Your Token!');
        }
    </script>

    <meta charset="UTF-8">
    <title>Great Job!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style_index.css') }}">
</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="action">
        <button id="ariaLabelID" aria-label="" data-balloon-pos="down" onmouseenter="ClearBubbleText('ariaLabelID')" onclick="CopyTextToClipboard('buttonContentID', 'ariaLabelID', 'HavYJ_-DNt0Iv2tifgUAC3y68wzaf9c9QUKddbvdfdA', 'Press the button')">
          <p id="buttonContentID"> Press the button </p>
    </button>
    </div>
    <main>
        <div class='totem'>
            <div>
                <div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div>
                <div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div>
                <div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <svg class='clip' height='0' width='0'>
        <defs>
          <clippath clipPathUnits='objectBoundingBox' id='clip'>
            <path
              d='M0,0 L1,0 C1,0.388986133 1,0.5556528 1,0.5 C1,0.223857625 0.776142375,0 0.5,0 C0.223857625,0 0,0.223857625 0,0.5 C0,0.684094917 0,0.51742825 0,0 Z'>
            </path>
          </clippath>
        </defs>
      </svg>
        </div>
    </main>
    <!-- partial -->
</body>

</html>