<!DOCTYPE html>
<html>

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {
            {
                request.script_root | tojson | safe
            }
        };
    </script>



    <script>
        $(function() {
            $.getJSON("/_stuff", // Your AJAX route here
                function(data) {
                    $("#score").text(data.score);
                    $("#startTime").text(data.startTime)
                    $("#endTime").text(data.endTime)
                    $("#hintCount").text(data.hintCount)
                    $("#quizType").text(data.quizType)
                    $("#Hint").text(data.Hint)
                    $("#endpoint").text(data.endpoint)
                    $("#message").text(data.message)
                }
            );
            setTimeout(arguments.callee, 2000);
        })();

        function OpenCheckPage() {
            window.open("/check");
        }
    </script>

    <meta charset="utf-8">
    <title>Scoreboard</title>

</head>

<body>
    <div style="margin:5px 10px 15px 20px">
        <p></p>Hi : {{ username }},
        <font>Your are now in quiz :
            <font id=quizType> None</font>
        </font>
    </div>
    <div>
        <p>&nbsp;</p>
    </div>
    <div style="text-align:center">
        <b><font size="8">The score is </font> <font size="8" id=score> None</font></b>
    </div>


    <div style="margin:5px 10px 15px 20px">
        <p>&nbsp;</p>

        <form method="POST" action="token">
            <font size="5">Token : &nbsp; &nbsp;</font>
            <input name="inputToken" size="50">&nbsp;&nbsp;&nbsp;
            <input type="submit" />
        </form>
        <font size="5">
            <p>Your start time is :
                <font size="5" id=startTime> None</font>
            </p>
        </font>

        <font size="5">
            <p>Your end time is :
                <font size="5" id=endTime> None</font>
            </p>
        </font>
    </div>


    <div style="margin:5px 10px 15px 20px">
        <font size="5">
            <p>Your hint is :
                <font size="5" id=Hint> None</font>
            </p>
        </font>
        <font size="5">
            <p>Your hint left :
                <font size="5" id=hintCount> None</font>
            </p>
        </font>
    </div>

    <div style="margin:20px 10px 15px 20px">
        <ol>
            <!-- For loop logic of jinja template -->
            {%for i in range(0, len)%}

            <li>{{username_all[i]}}</li>
            {%endfor%}
        </ol>
    </div>

    <div class="action" , style="margin:5px 10px 15px 20px">
        <p>&nbsp;</p>

        <form method="POST" action="endpoint">
            <font size="5">Endpoint : &nbsp; &nbsp;</font>
            <input name="inputEndpoint" size="50">&nbsp;&nbsp;&nbsp;
            <input type="submit" />
        </form>

        <font size="5">
            <p>Your endpoint is :
                <font size="5" id=endpoint> None</font>
            </p>
        </font>

        <button id="checkQuiz" onclick="OpenCheckPage()">
            <p id="buttonContentID"> Press the button if complete </p>
        </button>
    </div>

    <div style="margin:5px 10px 15px 20px">
        <font size="5">
            <p>
                <font size="5" id=message></font>
            </p>
        </font>
    </div>

</body>

</html>